<form method="POST" action="/pizzas/<%= @pizza.id %>">

<label for="first-name">First Name: </label>
<input type="text" value = "<%= @pizza.first_name %>" name="first_name" id="first-name"/>

<label for="last-name">Last Name:</label>
<input type="text" value="<%= @pizza.last_name %>" name="last_name" id="last-name" />

 <label for="pizza-select">Select Pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita" 
    <%= "selected" if @pizza.topping == "Margherita"%>
    >Margherita</option>

    <option value="Calzone"
    <%= "selected" if @pizza.topping == "Calzone"%>
    >Calzone</option>

    <option value="Italian Sausage"
    <%= "selected" if @pizza.topping == "Italian Sausage"%>
    >Italian Sausage</option>

    <option value="Pepperoni"
    <%= "selected" if @pizza.topping == "Pepperoni"%>
    >Pepperoni</option>
  </select>

<label for="quantity">Quantity:</label>
<input type = "number" value="<%= @pizza.quantity %>" min="1" id="quantity" name="quantity" />

<input type="submit" value="Update Order"/>

</form>