<form method="POST" action="/pizzas/<%= @pizza.id %>/delete">
  <fieldset>
    <legend>order details</legend>
      <p>Name: <%= @pizza.pretty_name %></p>
      <p>Order: <%= @pizza.quantity %> x <%= @pizza.topping %></p>
      <p>Total price: £<%= @pizza.total %></p>
  </fieldset>


<input class="confirm-button" type ="submit" value="Delete Order" />
</form>

<form method="GET" action="/pizzas/<%= @pizza.id %>/edit">
<input class="confirm-button" type="submit" value="Edit Order" />
</form>

